@model List<Products>
@using System.Threading
Hello from Action <b>Index</b> and Controller <b>Products</b>
<br />
<a class="btn btn-primary" asp-controller="Phone" asp-action="Create">Create</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Cost</th>
            <th>TimeOfDelivery</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var phone in Model)
        {
            <tr>
                <td>
                    @phone.Id
                </td>
                <td>
                    @phone.Product
                </td>
                <td>
                    @phone.Cost
                </td>
                <td>
                    @phone.TimeOfDelivery.ToString("dd/MM/yyyy HH:mm:ss")
                </td>
                <td><a class="btn btn-info" href="~/Phone/Edit?id=@phone.Id">Edit</a></td>
                <td><a class="btn btn-danger" href="~/Phone/Delete?id=@phone.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>