@{
    ViewData["Title"] = "Home Page";

    var currentDate = DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss");

    var list = new List<string>() { "one", "two", "three" };
}
Hello to Academy

<h4 style="color:red">Hello Click on Products in superMarket @currentDate</h4>
